body {
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    font-family: "Roboto Mono";
    padding: 0;
    margin: 0;
}

.csstable {
    display: table;
    height: 130px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

.csstablerow {
    display: table-row;
}

.csstablecell {
    display: table-cell;
    vertical-align: top;
}

.right {
    text-align: right;
    width: 300px;
}

.left {
    text-align: left;
    width: 300px;
}

.center {
    text-align: center;
    box-sizing: border-box;
    transition: 0.3s all;
    width: 30vw;
}

.labels {
    color: white;
    transition: 0.3s all;
    text-shadow: white 0px 0px 5px;
    font-size: 25px;
    margin: 20px 10px 10px 10px;
}

.notlabels {
    color: #858585;
    margin-top: 20px;
    font-size: 25px;
    margin: 20px 0 0 0;
}

.labels.hide-t {
    transition: 0.3s all;
    opacity: 0%;
    height: 0px;
    padding: 0;
    margin: 0 10px 0 10px;
}

.labels.hide-b {
    transition: 0.3s all;
    opacity: 0%;
    height: 0px;
    padding: 0;
    margin: 40px 10px 0 10px;
}

#conf {
    margin: 0;
    font-size: 18px;
    transition: 0.3s all;
}

#model {
    margin: 0;
    font-size: 18px;
}

video {
    border: 2px white;
    border-radius: 10px;
    box-shadow: white 0px 2px 5px;
}

#buttons {
    margin-top: 13px;
}

button {
    background-color: #2c2c2c;
    color: white;
    border: 2px white solid;
    width: 100px;
    border-radius: 10px;
    height: 33px;
    font-family: "Roboto Mono";
    transition: 0.3s all;
    margin: 0px 10px;
}

button:hover {
    transform: scale(1.1);
    color: #2c2c2c;
    background-color: white;
}

button:active {
    transform: scale(1.2);
}

button:disabled {
    width: 0;
    margin: 0px 0px;
    margin-top: 3px;
    padding: 0;
    border: none;
    overflow: clip;
    font-size: 0;
}

button:disabled i {
    font-size: 0;
}

button#playpause.manual:hover {
    color: white;
    border-color: #df0000;
    background-color: hsl(0, 100%, 22%);
}

button#playpause.auto:hover {
    color: white;
    border-color: #00a500;
    background-color: hsl(120, 100%, 16%);
}

button#identify:hover {
    color: white;
    border-color: #0080ff;
    background-color: hsl(210, 100%, 25%);
}

.auto-icon {
    animation: sync-spin 1s ease-in-out infinite;
}

@keyframes sync-spin {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-135deg);
    }
}

#conf {
    position: relative;
    bottom: 60px;
}

#loadingOverlay {
    color: black;
    background-color: white;
    text-align: center;
    font-weight: normal;
    position: fixed;
    top: 33vh;
    left: 0;
    right: 0;
    bottom: 33vh;
    z-index: 1000;
    transition: 0.3s all cubic-bezier(0.19, 1, 0.22, 1);
}

#loadingOverlay.done {
    bottom: -10px;
    top: 100vh;
}

#loadingOverlay i {
    font-size: 50px;
    margin-top: 100px;
}

#loadingOverlay h1 {
    margin-top: 0px;
}